In [2]:
import pandas as pd
from io import StringIO
import numpy as np

csv_data = '''A,B,C,D
1.0,2.0,3.0,4.0
5.0,6.0,,8.0
10.0,11.0,12.0,'''

df=pd.read_csv(StringIO(csv_data))
print(df)
print("--")
print(df.isnull())
print("--")
print(df.isnull().sum())

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN
--
       A      B      C      D
0  False  False  False  False
1  False  False   True  False
2  False  False  False   True
--
A    0
B    0
C    1
D    1
dtype: int64

# 欠損値対策
## 特徴量を削除
dropna

## 補完する
1. 平均値補完。sklearnのライブラリでいける。pandasでもいける

In [22]:
print(df.dropna())

     A    B    C    D
0  1.0  2.0  3.0  4.0

In [23]:
from sklearn.impute import SimpleImputer

imr=SimpleImputer(missing_values=np.nan, strategy='mean')  # medianで中央値、most_frequentで最頻値
imr=imr.fit(df.values)

imputed_data=imr.transform(df.values)
imputed_data

array([[ 1. ,  2. ,  3. ,  4. ],
       [ 5. ,  6. ,  7.5,  8. ],
       [10. , 11. , 12. ,  6. ]])

In [26]:
df.fillna(df.mean())

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   7.5  8.0
2  10.0  11.0  12.0  6.0

# カテゴリデータ
順序特徴量と名義特徴量がある。

事前に数値に変更

## 順序
なんか妥当な順番に変更する。

## ラベル
基本、ラベルのほうは順序特徴量ではないが、ラベルにどの整数を割り当てるかは重要ではないので、0から順に割り当てるのが一般的

## 名義
one-hot

多重共線性が発生する可能性がある。特徴量の相関が高い場合、逆行列の計算は計算量が多すぎて数値的に不安定な予測につながるとかなんとか。そういう時にはエンコードしたあとの列を1つだけ減らせばいいらしい。ほかの列が0なら、消した列が1だと、という話。

In [34]:
df = pd.DataFrame([['green', 'M', 10.1, 'class2'],
                   ['red', 'L', 13.5, 'class1'],
                   ['blue', 'XL', 15.3, 'class2']])

df.columns = ['color', 'size', 'price', 'classlabel']
df

   color size  price classlabel
0  green    M   10.1     class2
1    red    L   13.5     class1
2   blue   XL   15.3     class2

In [42]:
size_mapping={'XL':3, 'L':2, 'M':1}
df['size'] = df['size'].map(size_mapping)
df

   color  size  price classlabel
0  green     1   10.1     class2
1    red     2   13.5     class1
2   blue     3   15.3     class2

In [19]:
# マッピングを戻す

inv_size_mapping = {v: k for k, v in size_mapping.items()}
df['size'].map(inv_size_mapping)

0    NaN
1    NaN
2    NaN
Name: size, dtype: object

In [43]:
# classlabelの変換

a = np.unique(df['classlabel'])
# array(['class1', 'class2'], dtype=object)
d={}
for idx, val in enumerate(a):
    d[val]=idx
# d = {'class1': 0, 'class2': 1}
df['classlabel'] = df['classlabel'].map(d)
df

   color  size  price  classlabel
0  green     1   10.1           1
1    red     2   13.5           0
2   blue     3   15.3           1

In [41]:
# classlabelの変換
# sklearnにもメソッドある

from sklearn.preprocessing import LabelEncoder

class_ie = LabelEncoder()
class_ie.fit(df['classlabel'].values)
df['classlabel'] = class_ie.transform(df['classlabel'].values)
print(df)
print('---')

# 元に戻す
df['classlabel'] = class_ie.inverse_transform(df['classlabel'])
print(df)

   color size  price  classlabel
0  green    M   10.1           1
1    red    L   13.5           0
2   blue   XL   15.3           1
---
   color size  price classlabel
0  green    M   10.1     class2
1    red    L   13.5     class1
2   blue   XL   15.3     class2

In [44]:
# 順序みたいになっちゃうからNG
X = df[['color', 'size', 'price']].values
print(X)
print('---')

color_ie=LabelEncoder()
color_ie.fit(X[:,0])
X[:,0]=color_ie.transform(X[:,0])
print(X)

[['green' 1 10.1]
 ['red' 2 13.5]
 ['blue' 3 15.3]]
---
[[1 1 10.1]
 [2 2 13.5]
 [0 3 15.3]]

In [53]:
# pandas....

X = df[['color', 'size', 'price']]  # 一重にすると怒られる。外のかっこで取り出しキーの指定、内のかっこで複数選択のリスト
# 	color 	size 	price
# 0 	green 	1 	10.1
# 1 	red 	2 	13.5
# 2 	blue 	3 	15.3

X = df[['color', 'size', 'price']].values
# array([['green', 1, 10.1],
#        ['red', 2, 13.5],
#        ['blue', 3, 15.3]], dtype=object)


X = df['color'].values  # df.loc[:,'color'].valuesと同じ。
# array(['green', 'red', 'blue'], dtype=object)

X = df['color']  # df.loc[:,'color']と同じ。
# 0    green
# 1      red
# 2     blue
# Name: color, dtype: object


X

0    green
1      red
2     blue
Name: color, dtype: object

In [108]:
# one-hot

from sklearn.preprocessing import OneHotEncoder

X = df[['color', 'size', 'price']].values
print(X)
print('---')

color_ohe=OneHotEncoder()
color_ohe.fit(X[:,0].reshape(-1,1))
aaa = color_ohe.transform(X[:,0].reshape(-1,1))  # scipyの型になってるっぽい
bb = aaa.toarray()
bb

[['green' 1 10.1]
 ['red' 2 13.5]
 ['blue' 3 15.3]]
---

array([[0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.]])

In [110]:
# 参考。1列削除
# color_ohe = OneHotEncoder(categories='auto', drop='first')
# c_transf = ColumnTransformer([ ('onehot', color_ohe, [0]),
#                                ('nothing', 'passthrough', [1, 2])])
# c_transf.fit_transform(X).astype(float)

# データセットの分割
- 訓練とテストを分割。比率は60～80が一般的だが、データセットが多いときはもっと大きくしてOK
- モデルの予測性能を改善するため、訓練と評価の後に、データセット全体に対して分類期の訓練をもう一度行うのが常套手段

In [114]:
df_wine = pd.read_csv('https://archive.ics.uci.edu/'
                      'ml/machine-learning-databases/wine/wine.data',
                      header=None)
df_wine.columns = ['Class label', 'Alcohol', 'Malic acid', 'Ash',
                   'Alcalinity of ash', 'Magnesium', 'Total phenols',
                   'Flavanoids', 'Nonflavanoid phenols', 'Proanthocyanins',
                   'Color intensity', 'Hue', 'OD280/OD315 of diluted wines',
                   'Proline']
df_wine

,Class label,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [115]:
from sklearn.model_selection import train_test_split

X,y=df_wine.iloc[:,1:].values, df_wine.iloc[:,0].values
X_train, X_test, y_train, y_test =    train_test_split(X, y, test_size=0.3, random_state=0, stratify=y)
# stratifyでそうかサンプリングする対象を指定

# スケーリング
決定木とかはいらんけど…

正規化または標準化を実施

外れ値が多いときはRobustScalerを利用だってさ。過学習回避にも役に立つ

In [117]:
# 正規化
from sklearn.preprocessing import MinMaxScaler
mms=MinMaxScaler()
mms.fit(X_train)
X_train_norm = mms.transform(X_train)
X_test_norm = mms.transform(X_test)

# 標準化
from sklearn.preprocessing import StandardScaler
stdsc=StandardScaler()
stdsc.fit(X_train)
X_trains_std=stdsc.transform(X_train)
X_test_std=stdsc.transform(X_test)

In [118]:
# 正則化
from sklearn.linear_model import LogisticRegression
LogisticRegression(penalty="l2")

LogisticRegression()

# 余談1
intercept_ は切片(b)

coef_は傾き(wj)に対応

In [ ]:
import mlxtend

fig = plt.figure()
ax = plt.subplot(111)
    
colors = ['blue', 'green', 'red', 'cyan', 
          'magenta', 'yellow', 'black', 
          'pink', 'lightgreen', 'lightblue', 
          'gray', 'indigo', 'orange']

weights, params = [], []
for c in np.arange(-4., 6.):
    lr = LogisticRegression(penalty='l1', C=10.**c, solver='liblinear', 
                            multi_class='ovr', random_state=0)
    lr.fit(X_train_std, y_train)
    weights.append(lr.coef_[1])
    params.append(10**c)

weights = np.array(weights)

for column, color in zip(range(weights.shape[1]), colors):
    plt.plot(params, weights[:, column],
             label=df_wine.columns[column + 1],
             color=color)
plt.axhline(0, color='black', linestyle='--', linewidth=3)
plt.xlim([10**(-5), 10**5])
plt.ylabel('weight coefficient')
plt.xlabel('C')
plt.xscale('log')
plt.legend(loc='upper left')
ax.legend(loc='upper center', 
          bbox_to_anchor=(1.38, 1.03),
          ncol=1, fancybox=True)
#plt.savefig('images/04_07.png', dpi=300, 
#            bbox_inches='tight', pad_inches=0.2)
plt.show()